<a href="https://colab.research.google.com/github/Vilimanu/Valores-Nulos/blob/main/Actividad_2_(Valores_Nulos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Primer Archivo CSV
from google.colab import files
files.upload()

In [ ]:
#Convertir a DataFrame
data = pd.read_csv("inmuebles2.csv")
data.head(5)

In [ ]:
#Eliminar primera fila o filas innecesarias
data1 = pd.read_csv("inmuebles2.csv", skiprows=1)
data1

In [ ]:
#Eliminar primera fila o filas innecesarias
data2 = data1.drop(['0','Referencia'], axis=1)
data2

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data2.isnull().sum()
valores_nulos

**Métodos de Sustiución de Valores Nulos**

In [ ]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data3["Superficie"]=data3["Superficie"].fillna(round(data2["Superficie"].mean(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediante
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].median(),1))
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
PRecio Venta    0
vendedor        0
dtype: int64

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en concreto
data3["Fecha Alta"]=data3["Fecha Alta"].fillna(10)
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
PRecio Venta      0
dtype: int64

In [ ]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
data3["Fecha Venta"] = data3["Fecha Venta"].fillna("2939-06-19 00:00:00")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta       0
Vendedor        578
PRecio Venta      0
dtype: int64

In [ ]:
#Quinto Método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" "forawrd fill" ("ffill")
#Filtro por columnas
data3["Tipo"]=data3["Tipo"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta       0
Vendedor        578
PRecio Venta      0
dtype: int64

In [ ]:
#Sexto Método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia atras backward fill"("bfill")
#Filtro por columnas
data3["Operación"] = data3["Operación"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta       0
Vendedor        578
PRecio Venta      0
dtype: int64

In [ ]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
data3["Provincia"]=data3["Provincia"].fillna(method="bfill")

In [ ]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffil")
#Filtro por columnas
data3["Vendedor"]=data3["Vendedor"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0

**Método de Eliminación de valores nulos por columna**

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

1175

In [ ]:
#Realizamos una copia del dataframe
data4=data2.copy()

In [ ]:
#Eliminamos filas con nulos
data4=data2.dropna()
data4

In [ ]:
#Identificar valores nulos por column
valores_nulos=data4.isnull().sum()
valores_nulos

**Comparamos DataFrame3(sustitución) y Dataframe4(Eliminación)**

In [ ]:
data3.info()

In [ ]:
data4.info()

In [ ]:
#Convertir DataFrame a CSV
data3.to_csv("inmuebles_sin_nulos.csv")

In [ ]:
#descargar archivo filtrado en csv
from google.colab import files


files.download("inmuebles_sin_nulos.csv")